body {
  margin: 0px;
  padding: 0px;
  height: 100dvh;
  width: 100dvw;
  background-color: #393939;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
 margin: 0px;
 padding: 0px; 
 font-size: 50px;
}

.text{
  color: aqua;
  font-size: 30px;
}

main {
flex:1;
align-self: stretch;
font-size: 20px;
color: rgb(0, 0, 0);
/* height: 200px; */
width: 100dvw;
background-color: #ffffff;
align-self: center;
}

